* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Gothic', sans-serif;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 2rem;
}

#main {
    height: 600px;
}

.main-image {
    height: 100%;
}

.background {
    background-image: url('/img/lista.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}


ul {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-indent: 30px;
}

li {
    line-height: 2.75rem;
}